* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

:root {
  --lavender: #4e3165;
  --purple: #722c5c;
  --red600: #ce1f45;
  --white: #ffffff;
  --shadow: #5a5a5a;
  --black: #1c1c1c;
}


body {
  font-family: 'League Spartan', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--lavender);
  overflow-x: hidden;
}

header a {
  text-decoration: none;
  color: var(--lavender);
  font: inherit;
}

header a:hover {
  color: var(--red600);
}

.page-header {
  width: 100%;
  max-height: 12vh;
  position: sticky;
  background: var(--white);
  box-shadow: 0 8px 16px -4px var(--shadow);
  display: flex;
  align-items: center;
  padding: 1.25rem 0;
  padding-left: 3vw;
  position: fixed;
}

.page-header nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header .logo {
  display: flex;
  align-items: center;
}

.page-header img {
  width: 6rem;
  height: 6rem;
  margin-right: 0.5rem;
}

.page-header .logo h1 {
  color: var(--red600);
  font-size: 2.75rem;
}

.page-header .logo h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.page-header ul {
  list-style: none;
  display: flex;
}

.page-header li {
  padding-inline: min(100px, 3vw);
}

.page-header a {
  font-size: 1.5rem;
  font-weight: 600;
}

.open-menu-button {
  display: none;
  cursor: pointer;
}

.close-menu-button {
  display: none;
}

/* section banner*/

section.banner {
  background-image: url(../assets/background.2.jpeg);
  background-position: center;
  background-size: cover;
  height: calc(100vh);
  overflow: hidden;
  display: flex;
  align-items: center;
}

section.banner .area {
  max-width: 1600px;

}

section.banner p.texto {
  font-size: clamp(3rem, 7vw, 5.5rem);
  color: white;
  font-family: 'League Spartan', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  margin-top: 100px;
  padding-left: min(100px, 5vw);
  padding-right: 1rem;
  line-height: 100%;

}

/* REUSABLE */

.title {
  font-size: clamp(2.5rem, 5vw, 3rem);
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1rem 0px;
  font-weight: 900;
  line-height: 1.1;
}

.base-section {
  max-width: 1300px;
  padding: 1rem;
  margin-inline: auto;
}

/* section home*/

section.home {
  background-color: var(--lavender);
  padding: 2rem 1rem;
}

section.home .area {
  max-width: 1200px;
  margin: auto;
}

section.home .title {
  color: white;
  font-family: 'League Spartan', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}


section.home .cards {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

section.home .cards .card {
  width: 100%;
  max-width: 320px;
  margin: 1rem;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
}

section.home .cards .card .title {
  font-family: "Open Sans";
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
}


section.home .cards .card .descrição {
  font-family: "Open Sans";
  color: white;
  font-weight: 900;
  text-align: center;
  font-size: 20px;
  margin-top: 180px;
}

section.home .card a {
  font-family: 'Open Sans';
  text-decoration: none;
  color: var(--lavender);
  font-weight: 900;
  background-color: rgb(255, 255, 255);
  padding: 10px 25px;
  text-transform: capitalize;
  font-size: 2rem;
  margin-top: 1.5rem;
  text-align: center;
  border-radius: 10px;
}

section.home footer {
  display: flex;
  justify-content: flex-end;
  padding-inline: 1.3rem;
  max-width: 1150px;
}

section.home .button-red {
  font-family: 'Open Sans';
  border: none;
  background: var(--red600);
  color: var(--white);
  padding: 13px 55px;
  text-transform: capitalize;
  font-size: 2rem;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
  margin-top: 1rem;
}

@media(max-width: 1120px) {
  section.home footer {
    display: flex;
    justify-content: center;
    padding-inline: 1.3rem;
  }
}

/* MOBILE MENU */

.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
}

.overlay.overlay--active {
  pointer-events: all;
  opacity: 0.25;
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    background: var(--white);
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(101%);
    transition: transform 300ms;
    width: 100%;
    max-width: 75vw;
    padding: 2rem;

    display: flex;
    justify-content: center;
  }

  .close-menu-button {
    display: block;
    border: none;
    background: none;
    font-size: 0;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;
  }


  .menu.menu--active {
    transform: translateX(0);
  }

  .page-header {
    justify-content: center;
    padding: 1.25rem 0;
  }

  .page-header .logo img {
    width: 70px;
    height: 70px;
  }

  .page-header .logo h1 {
    font-size: 2rem;
  }

  .page-header .logo h2 {
    font-size: 1rem;
  }

  .open-menu-button {
    display: block;
    border: none;
    background: none;
    width: 2rem;
    height: 2rem;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .open-menu-button img,
  .close-menu-button img {
    width: 100%;
  }

  .menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 80%;
    gap: 2rem;
  }
}

/* PILAR INFORMATION */

.pilar-information {
  max-width: 1300px;
  padding: 1rem;
  margin-inline: auto;
}

.pilar-information .title {
  margin-bottom: 1rem;
}

.pilar-information p {
  font-family: "Open Sans";
  font-weight: 500;
  color: var(--lavender);
  font-size: 1.25rem;
}

.pilar-information .text {
  width: 50%;
}

.pilar-information p:first-child {
  margin-bottom: 1rem;
}

.pilar-information .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

}

.pilar-information .img-box {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  background-color: var(--lavender);
  border-radius: 10px;
}

@media (max-width: 1090px) {
  .pilar-information p {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .pilar-information .container {
    flex-direction: column-reverse;
  }

  .pilar-information .imgbox, .pilar-information .text {
    max-width: 600px;
    width: 100%;
    display: block;
  }

  .pilar-information p {
    font-size: 1.25rem;
  }
}


/* CAROUSEL */


.team-members .picture {
  width: 350px;
  aspect-ratio: 3/ 4;
  background: var(--lavender);
  border-radius: 10px;
}

.team-members .carousel-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.team-members .icons {
  display: flex;
  gap: 0.75rem;
}

.team-members .icons img {
  width: 2.25rem;
  height: 2.25rem;
}

.team-members h1, .team-members h2, .team-members p {
  font-family: 'Open Sans';
}

.team-members h1 {
  color: var(--red600);
  font-size:3rem;
  font-weight: 900;
}

.team-members p {
  font-family: var(--lavender);
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  max-width: 350px;
}